h1 {
  color: white;
  background-color: #2efe2e;
  padding: 10px;
  font-family: "궁서";
}
div {
  background-color: aqua;
  color: whitesmoke;
  padding: 40px;
  font-family: "고딕";
  text-align: center;
}
